@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('http://www.sfdcstatic.com/cdn/fonts/ProximaNova/proximanova-reg-webfont.eot');
    src: url('http://www.sfdcstatic.com/cdn/fonts/ProximaNova/proximanova-reg-webfont.eot?#iefix')
    format('embedded-opentype'),
    url('http://www.sfdcstatic.com/cdn/fonts/ProximaNova/proximanova-reg-webfont.woff') format('woff'),
    url('http://www.sfdcstatic.com/cdn/fonts/ProximaNova/proximanova-reg-webfont.ttf') format('truetype'),
    url('http://www.sfdcstatic.com/cdn/fonts/ProximaNova/proximanovareg-webfont.svg#ProximaNovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'ProximaNovaLight';
    src: url('http://www.sfdcstatic.com/cdn/fonts/ProximaNova/proximanova-light-webfont.eot');
    src: url('http://www.sfdcstatic.com/cdn/fonts/ProximaNova/proximanova-light-webfont.eot?#iefix')
    format('embedded-opentype'),
    url('http://www.sfdcstatic.com/cdn/fonts/ProximaNova/proximanova-light-webfont.woff') format('woff'),
    url('http://www.sfdcstatic.com/cdn/fonts/ProximaNova/proximanova-light-webfont.ttf') format('truetype'),
    url('http://www.sfdcstatic.com/cdn/fonts/ProximaNova/proximanova-light-webfont.svg#ProximaNovaLight')
    format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaSemiBold';
    src: url('http://www.sfdcstatic.com/cdn/fonts/ProximaNova/proximanova-sbold-webfont.eot');
    src: url('http://www.sfdcstatic.com/cdn/fonts/ProximaNova/proximanova-sbold-webfont.eot?#iefix')
    format('embedded-opentype'),
    url('http://www.sfdcstatic.com/cdn/fonts/ProximaNova/proximanova-sbold-webfont.woff') format('woff'),
    url('http://www.sfdcstatic.com/cdn/fonts/ProximaNova/proximanova-sbold-webfont.ttf') format('truetype'),
    url('http://www.sfdcstatic.com/cdn/fonts/ProximaNova/proximanova-sboldwebfont.svg#ProximaNovaSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: ProximaNovaRegular, Arial, sans-serif;
    font-size:16px;
}
img {
    max-width: 100%;
    /*border: solid 1px #eee;*/
    margin: 8px 0;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

blockquote {
    font-size: inherit;
    line-height: inherit;
}

.btn-lg {
    border-radius: 2px;
    background-color: #00A1E1;
}

.jumbotron {
    margin-top: -20px;
    padding: 0;
    /*padding-top: 30px;*/
    /*background-color: #01344e;*/
    color: #ffffff;
    background: #ffffff url("../images/background.jpg") no-repeat right top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-origin: content-box;
    height: 330px;
}



.jumbotron h1 {
    font-size: 28px;
    margin-top:12px;
    /*font-weight: 400;*/
    /*font-style: normal;*/
    font-family: ProximaNovaLight, Arial, sans-serif;
}

/*.navbar {*/
/*background-color: #01344e;*/
/*}*/

/*.navbar-default .navbar-nav>li>a,*/
/*.navbar-default .navbar-brand {*/
/*color: #fff;*/
/*}*/

/*.navbar-default .navbar-nav>li>a:hover,*/
/*.navbar-default .navbar-brand:hover {*/
/*color: #2ac2ff;*/
/*color: #009CDF;*/
/*}*/

.right-nav {
    padding-top: 20px;
}

.right-nav ol {
    margin: 10px 10px 0 40px;
}

.right-nav ol > li {
    padding: 4px 0;
}

.list-group-item {
}

h3 {
    margin-top: 50px;
    margin-bottom: 20px;
}

li > ul {
    margin-bottom: 20px;
}

li > ul > li {
    margin-bottom: 10px;
}

#footer {
    margin-top: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: solid 1px #eee;
}

blockquote {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

h2 {
    font-size: 24px;
    border-bottom: solid 1px #EEE;
    padding-bottom: 12px;
    margin-bottom: 20px;
    margin-top: 40px;
}

h3 {
    margin-top:6px;
    font-size: 28px;
}