<ion-view title="Login">

    <!--<ion-nav-buttons side="right">-->
        <!--<a class="button button-clear" href="#/app/signup">Signup</a>-->
    <!--</ion-nav-buttons>-->

    <ion-content has-header="true" padding="true">

        <div class="list list-inset" style="margin-top: 100px;">

            <button class="button button-block button-stable" ng-click="logout()">
                Logout
            </button>

            <button class="button button-block button-stable" ng-click="revokePermissions()">
                Revoke Permissions
            </button>

        </div>

    </ion-content>

</ion-view>

