<ion-view title="Inbox" hide-back-button="true" class="card-bg recent-activity">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content>

        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <div ng-repeat="message in messages" class="list" style="margin: 0; margin-bottom: -1px">
            <a class="item" ui-sref="app.message-detail({messageId: message.id})">
                <h3>{{message.author}}</h3>
                <p style="margin: 0px;padding-bottom:0px;">{{message.createddate | date : 'MMMM d, y h:mma'}}</p>
                <p>{{message.banner}}</p>
            </a>
        </div>

    </ion-content>

    <p ng-if="!loading && messages.length === 0" class="centered-message">Your inbox is empty</p>

</ion-view>
