<ion-view title="Special Offers" hide-back-button="true" class="card-bg">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">

        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <!-- Journey Builder survey opt-in button
        <div class="card" ng-show="showSignup">
            <div class="item item-text-wrap">
                Would you like to see premium member offers? Just sign up to get offers in your inbox.
                <button class="button button-block button-status{{user.status || 1}}" ng-click="signUp()">
                    Yes, sign up for special offers!
                </button>

            </div>
        </div> 
        -->

        <div ng-repeat="offer in offers" class="list card">
            <a ui-sref="app.offer-detail({offerId: offer.id})">
                <div class="item">
                    <h2>{{offer.name}}</h2>

                    <p>Expires on {{offer.enddate | date:'EEEE, MMMM d y'}}</p>
                </div>
                <div class="item item-body">
                    <img ng-if="offer.image" ng-src="{{offer.image}}">
                    <p>{{offer.description}}</p>
                </div>
            </a>
        </div>


    </ion-content>

</ion-view>