<ion-view title="" hide-back-button="true" class="profile">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-clear" href="#/app/edit-profile">Edit</a>
    </ion-nav-buttons>

    <ion-content padding="false" scroll="false">

        <div ng-if="user.id">
            <div class="header status1-bg">
                <img class="avatar" ng-src="{{user.pictureurl || 'img/avatar.jpg'}}" ng-click="popupDialog()"/>
                <h2>{{user.firstname}} {{user.lastname}}</h2>
				<h3>{{user.typecompte}}</h3>
                <h3>Member since {{user.createddate | date:'longDate'}}</h3>
            </div>

            <div style="padding: 8px 16px;" class="status1">

                <table>
                  <tr><td>Phone number</td><td>{{user.mobilephone}}</td></tr>
                </table>



            </div>
        </div>

    </ion-content>

</ion-view>
