<ion-view title="Vedi la auto" class="card-bg">

  <ion-content has-header="true" padding="true">

      <div class="list card">
          <div class="item">
              <h2>{{offer.name}}</h2>
          </div>
          <div class="item item-body">
              <img class="full-image" ng-if="offer.image"  ng-src="{{offer.image}}">
              <p>{{offer.description}}</p>
              <button class="button button-block button-light" ui-sref="app.store-locator">
                  Localizza auto
              </button>

          </div>
      </div>

  </ion-content>

</ion-view>
