<ion-view title="Scegli Percorso" class="card-bg">

  <ion-content has-header="true" padding="true">

      <div class="list card">
          <div class="item">
              <h2>{{offer.name}}</h2>
          </div>
          <div class="item item-body">
              <img class="full-image" src="img/qrcode.svg">
              <p>Presenta il QRcode agli assistenti per accedere al trattamento</p>
              <button class="button button-block button-light" ui-sref="app.store-locator">
                  Cerca la prossima sala
              </button>

          </div>
      </div>

  </ion-content>

</ion-view>
